@import "_variables";

.item1 { 
    grid-area: header;   
    height: 100px;              
 }  
 .item2 { 
    grid-area: Navigation; 
}
 .item3 { 
    grid-area: Pagecontent; 
    height:  400px;
 }
 .item4 { 
    grid-area: m1; 
    height:  400px;
    
    
    
 }
 .item5 {
     grid-area: m2; 
     height:  400px;
    
     
    }
 .item6 { 
    grid-area: m3; 
    height:  400px;
    
    
 }
 .item7 { 
    grid-area: footer; 
    height: 100px;  
 }
 
 .grid-container {
   display: grid;
   grid-template-areas:
     'header header header header header header'
     'Navigation Navigation Navigation Navigation Navigation Navigation '
     'Pagecontent Pagecontent Pagecontent Pagecontent Pagecontent Pagecontent'
     'm1 m1 m2 m2 m3 m3'
     'footer footer footer footer footer footer';
   grid-gap: 20px;
   background-color: $blue1;
   padding: 20px;
 }
 
 .grid-container > div {
   background-color: $green;
   text-align: left;
   padding: 20px ;
   font-size: 20px;
 }